<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>

    <link rel="stylesheet" href="{{url_for('static',filename='bulma/bulma.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/courses.css')}}">

</head>
<body>
    
</body>
</html><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information System</title>
    
    <link rel="stylesheet" href="{{url_for('static',filename='bulma/bulma.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/courses.css')}}">


</head>


<body>
    <br>
    <br>
    <center>
        <form class="box">
            <div class="field">
                <section class="section">

                    <div class="container">
                        <div class="title">
                            <center>STUDENT INFORMATION SYSTEM</center>
                        </div>
                        <div class="column1">
                            <center>
                        <aside class="menu">
                            <p class="menu-label">
                               <br> 
                              </p>
                              <div class="title2"></div><br>
        <button class="title3">STUDENTS</button><br>
        <button class="title4">COURSES</button><br>
        <button class="title5">GRADES</button><br>
        <button class="title6">REPORTS</button>
                        </center>
                            </div>

                            <div class="column2">

                                <table class="table is-bordered">
                                    <h1 class="subtitle">COURSES  </h1>
                                    <button class="button3"> ADD COURSES </button> 
                                    <thead>
                                        <tr>
                                            <th><center>COURSE ID</center></th>
                                            <th><center>COURSE CODE</center></th>
                                            <th><center>COURSE NAME</center></th>
                                            <th><center>ACTION</center></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th><button class="button1"> EDIT </button>  <button class="button2"> DELETE </button> </th>
                                            
                                        </tr>

                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th><button class="button1"> EDIT </button>  <button class="button2"> DELETE </button> </th>
                                            
                                        </tr>

                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th><button class="button1"> EDIT </button>  <button class="button2"> DELETE </button> </th>
                                           
                                        </tr>

                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th><button class="button1"> EDIT </button>  <button class="button2"> DELETE </button> </th>
                                           
                                        </tr>

                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th><button class="button1"> EDIT </button>  <button class="button2"> DELETE </button> </th>
                                           
                                        </tr>

                                    </tbody>
                                </table>
                            
                            </div>
                        </div>
                    </div>
                </section>
        </form>
    </center>
</body>

</html>