<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information System</title>
    
    <link rel="stylesheet" href="{{url_for('static',filename='bulma/bulma.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/grades.css')}}">


</head>


<body>
    <br>
    <br>
    <center>
        <form class="box">
            <div class="field">
                <section class="section">

                    <div class="container">
                        <div class="title">
                            <center>STUDENT INFORMATION SYSTEM</center>
                        </div>
                        <div class="column1">
                            <center>
                        <aside class="menu">
                            <p class="menu-label">
                               <br> 
                              </p>
                              <div class="title2"></div><br>
        <button class="title3">STUDENTS</button><br>
        <button class="title4">COURSES</button><br>
        <button class="title5">GRADES</button><br>
        <button class="title6">REPORTS</button>
                        </center>
                            </div>

                            <div class="column2">

                                <table class="table is-bordered">
                                    <h2 class="subtitle">GRADES</h2>
                                    <button class="button1"> SUBMIT</button> 

                                   <select class="select1" name="studentname" id="studentname">
                                    <option value="studentname"> STUDENT NAME</option>
                                    <option value="mary"> Mary Stiphen Amores Artienda</option>
                                    <option value="carl">Carl Lester Dela Cruz Barreras</option>
                                    <option value="joyce"> Joyce Danao Bragas</option>
                                    <option value="ronald"> Vian Liz Artienda Allorde</option>
                                    <option value="mark"> Jhona Claire Artienda Pineda</option>
                                   </select>

                                   <select class="select2" name="semester" id="semester">
                                    <option value="semester"> SEMESTER</option>
                                    <option value="semester1"> First Semester</option>
                                    <option value="semester2"> Second Semester</option>
                                   </select>

                                   <select class="select3" name="schoolyear" id="schoolyear">
                                    <option value="schoolyear"> SCHOOL YEAR</option>
                                    <option value="1"> 2020-2021</option>
                                    <option value="2">2021-2022</option>
                                    <option value="3"> 2022-2023</option>
                                    <option value="4">2023-2024</option>
                                    <option value="5">2024-2025</option>
                                   </select>





                                    <thead>
                                        <tr>
                                            <th><center>SUBJECT CODE</center></th>
                                            <th><center>SUBJECT</center></th>
                                            <th><center>TEACHERS</center></th>
                                            <th><center>MIDTERM</center></th>
                                            <th><center>FINAL</center></th>
                                            <th><center>RESULT</center></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th> </th>
                                            <th> </th>
                                            <th> </th>
                                            
                                        </tr>

                                        

                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th> </th>
                                            <th></th>
                                            <th> </th>
                                            
                                        </tr>

                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th> </th>
                                            <th></th>
                                            <th> </th>
                                           
                                        </tr>

                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th> </th>
                                           
                                        </tr>

                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th> </th>
                                            <th></th>
                                            <th> </th>
                                           
                                        </tr>

                                    </tbody>
                                </table>
                            
                            </div>
                        </div>
                    </div>
                </section>
        </form>
    </center>
</body>

</html>