<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sample Comapany</title>
    
    <link rel="stylesheet" href="{{url_for('static',filename='bulma/bulma.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/sample_company.css')}}">

</head>
<body>
    <form class="box">
        <div class="field">
            <section class="section">

                <div class="container">
                    <div class="title">
                        <center>PAM'S COMPANY</center>
                    </div>
                    <div class="column1">
                    <br>
                        <h1 class="title6">SHARE AND EARN</h1>
                        <br>
                        <p class="subtitle3"><br>Earn a FREE month of our Premium mEMBERSHIP plan for youself 
                            and a friend just by having them sign up.<br>
                            <br>
                            <br>
                            <div class="control">
                                <input class="input" type="email" placeholder="username@gmail.com" />
                            </div>
                                <br>
                               <br>
                                <center><button class="button">INVITE FRIENDS</button>
                                </center>
                        </p>

                        

                    </div>
                    <section class="section">
                        <div class="container">
                            <div class="columns">
                                <div class="column">
                                
                                    <br>
                                    <br>

                                    <h1 class="title3">WELCOME TO PAM'S COMPANY</h1>
                                    <br>
                                    <p class="subtitle">We'll take it from here.</p>

                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="section">
                        <div class="container">
                            <div class="columns">
                                <div class="column">
                                    <h1 class="title4">DETAILS</h1>
                                    <p class="subtitle1">You purchased the Family Membership Plan<br>
                                        You will be charged $26.25/mo
                                        
                                        <h1 class="title5">PRIMARY CONTACT</h1>
                                   
                                    <p class="subtitle2">pamscompany<br>pams@gmail.com
                                    </p>
                                    
                                    <h1 class="title7">PAYMENT METHOD</h1>
                                   
                                    <p class="subtitle4"> American Express Ending in 123
                                    </p>

                                    </p>
                                    
                                   
                                    <p class="subtitle5">SUBTITLE $20/MO<BR>TAX $6.25<BR>TOTAL% 26.25/MO
                                    </p>

                                    </p>


                                </div>
                            </div>
                        </div>
                    </section>

                    
                   
    

                </form>
</body>     
</html>